@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #fff;
    color: #484848;
    min-height: 100%;
    margin: 0;
    font-size: .875rem;
    line-height: 1.571;
}

.country_list {
    /* right: -2px; */
    padding: 7px;
    margin: 24px;
    font-size: 25px;
    font-weight: bold;
}
h {
    font-size: 50px;
    box-sizing: 463px;
}
.h {
    -webkit-text-size-adjust: 100%;
    font: 100% sans-serif;
    --ikea-font: 'Noto IKEA', 'Noto Sans KR', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    font-family: "Noto IKEA","Noto Sans","Roboto","Open Sans",-apple-system,sans-serif;
    word-break: keep-all;
    box-sizing: inherit;
    outline: none;
    margin: 0;
    padding: 0;
    color: #111;
    font-weight: 800;
    margin-bottom: .25rem;
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: -0.0042em;
}
nav, nav2, nav3, nav4, nav5 {
  position: absolute;
  background: #f5f5f5;
  width: 200px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;
}
nav label, nav2 label, nav3 label,nav4 label, nav5 label{
  color: black;
  font-size: 22px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.button span, .button2 span, .button3 span,.button4 span,.button5 span{
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.button span.rotate,.button2 span.rotate,.button3 span.rotate,.button4 span.rotate,.button5 span.rotate{
  transform: rotate(-180deg);
}
nav ul,nav2 ul,nav3 ul,nav4 ul,nav5 ul{
  position: absolute;
  background: #f5f5f5;
  list-style: none;
  top: 75px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  display: none;
}
[id^=btn= btn2= btn3= btn4= btn5]:checked + ul{
  display: block;
}
nav .menu:before,nav2 .menu:before,nav3 .menu:before,nav4 .menu:before,nav5 .menu:before{
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: #f5f5f5;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
nav ul li,nav2 ul li,nav3 ul li,nav4 ul li,nav5 ul li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
nav ul li label,nav2 ul li label,nav3 ul li label,nav4 ul li label,nav5 ul li label{
  font-size: 18px;
}
nav ul li a,nav2 ul li a,nav3 ul li a,nav4 ul li a,nav5 ul li a{
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
nav ul li a:hover,
nav ul li label:hover,
nav2 ul li a:hover,
nav2 ul li label:hover,
nav3 ul li a:hover,
nav3 ul li label:hover,
nav4 ul li a:hover,
nav4 ul li label:hover,
nav5 ul li a:hover,
nav5 ul li label:hover{
  color: rgb(110, 109, 109);
}
nav ul ul,nav2 ul ul,nav3 ul ul,nav4 ul ul,nav5 ul ul{
  position: static;
}
nav ul ul li,nav2 ul ul li,nav3 ul ul li,nav4 ul ul li,nav5 ul ul li{
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
nav ul ul li a,
nav2 ul ul li a,
nav3 ul ul li a,
nav4 ul ul li a,
nav5 ul ul li a{
  color: black;
  font-size: 17px;
}
nav ul li span,
nav2 ul li span,
nav3 ul li span,
nav4 ul li span,
nav5 ul li span{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
nav ul li span.rotate
nav2 ul li span.rotate
nav3 ul li span.rotate
nav4 ul li span.rotate
nav5 ul li span.rotate{
  transform: rotate(-180deg);
}
input{
  display: none;
}
nav5 {
    right: 756px;

}
label.button {
    font-size: 15px;
}
label.button2 {
    font-size: 15px;
}
label.button3 {
    font-size: 15px;
}
label.button4 {
    font-size: 15px;
}
label.button5 {
    font-size: 15px;
}
nav {
    left: 29px;
}
nav4 {
    right: 965px;
}
nav3 {
    right: 1175px;
}
nav2 {
    right: 1384px;
}

.menu_bar {
    margin: 39px;
    padding: 34px;
    right: 81px;
}