<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <!--  jquery  -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--  css  -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--  header,footer  -->
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/request_detail.css">
    <!--  slick  -->
    <script type="text/javascript" src="/assets/lib/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <!--  header start  -->
    <div class="topbar"></div>
    <header>
        <div class="container_header">
            <div class="menubar">
                <div class="btn_menu_open"><button type="button"><img src="/images/134216_menu_lines_hamburger_icon.png" style="margin-top: 0; margin-left: 0;"></button></div>
                <div id="mask"></div>
                <div class="slide_menu">
                    <div class="menu_close"><button type="button" class="btn_menu_close"><img  src="/images/x_106506.png"></button>
                    </div>
                    <ul class="menu_list">
                        <li><a href="#">메뉴 12</a></li>
                        <li><a href="#">메뉴 23</a></li>
                        <li><a href="#">메뉴 34</a></li>
                        <li><a href="#">메뉴 45</a></li>
                        <li><a href="#">메뉴 56</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <a href="#"><img src ="/images/KakaoTalk_20220613_184630975.png"></a>
            </div>
            <div class="selectbar">
                <form action="">
                    <input type="text" placeholder="검색어 입력">
                </form>
            </div>
            <div class="mypage">
                <ul>
                    <li class="login">
                        <a>
                            <img src="/images/4092564_profile_about_mobile%20ui_user_icon.png">
                            <div class="btn_menu_open1" style="top:0.6rem; left:2rem;"><button type="button"><span style="padding: 14px;">Hej! 로그인 또는 가입하기</span></button></div>
                        </a>
                        <div id="mask1"></div>
                        <div class ="slide_menu1">
                            <section class="header_side">
                                <div class="menu_close1"><button type="button" class="btn_menu_close1"><img  src="/images/x_106506.png"></button>
                                </div>
                                <div class ="header_content">
                                    <h2>Hej
                                        <sapn class="header__username"></sapn>
                                    </h2>
                                    <a role="button" class="btn btn--small btn--primary-inverse" th:href="@{/user/login}" id="header__button"
                                       style="display: flex; justify-content: end;">

                                        <span class="btn__inner">로그인</span></a>
                                </div>
                                <ul class="sidebar">
                                    <li>
                                        <a class="sidebar_tag">
                                            <div class="sidebar_tag-content">
                                                <div class="sidebar_tag-content-text">
                                                    <h3>계정생성하기</h3>
                                                    <div>계정을 생성하여 IKEA Family 클럽에 지금 가입해보세요,가입은 무료입니다!</div>
                                                </div>
                                                <button type="button" class="btn" aria-hidden="true" tabindex="-1" id="btnGoToJoin">
                                                <span class="btn__inner" style="align-items:stretch">
                                                    <svg focusable="false" viewBox="0 0 24 24" class="svg-icon" aira-hidden="true">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="m16.415 12.0011-8.0012 8.0007-1.4141-1.4143 6.587-6.5866-6.586-6.5868L8.415 4l8 8.0011z"></path>
                                                    </svg>
                                                </span>
                                                </button>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                            <section class="body_side">
                                <ul class="menu_list">
                                    <li><a th:href="@{/user/login}">로그인</a></li>
                                    <li><a th:href="@{/board/list}">해외여행 다이어리 보러가기</a></li>
                                    <li><a th:href="@{/product/list}">해외물품 구매하러가기</a></li>
                                    <li><a th:href="@{/request/list}">해외물품 판매요청 보러가기</a></li>
                                </ul>
                            </section>
                        </div>
                    </li>
                    <li class="message"><a><img src="/images/622401_mail_packet_email_envelope_letter_icon.png" style="position: inherit;"></a></li>
                    <li class="heart"><a><img src="/images/216236_heart_icon.png" style="position: inherit;"></a></li>
                    <li class="cart"><a><img src="/images/6351908_bag_basket_cart_ecommerce_shop_icon.png" style="position: inherit;"></a></li>
                </ul>
            </div>
        </div>
        <div class="menubtn">
            <a th:href="@{/board/list}">해외여행 다이어리 보러가기</a>
            <a th:href="@{/product/list}">해외물품 구매하러가기</a>
            <a th:href="@{/request/list}">해외물품 판매요청 보러가기</a>
        </div>
    </header>
    <!--  header end  -->
    <main id="content">
        <section class="teaser">
        <div class="teaser_content">
            <div class="section1">
            <div class="f_teaser">
                <h2>여행으로 삶을 바꾸다!</h2>
                <p>Koinonia Familly와 함께하는 여행스토리 나만의 이야기가 아닌 모두의 이야기로!
                    <br> 작은 변화로 큰 행복을 누려보세요.</p>
            </div>
            <div class="diary_btn">
                <a th:href="@{/board/register}">다이어리 작성하기</a>
            </div>
            </div>

            <div class="f_teaser_pt">
                <ul>
                    <li>
                        <img src="/images/image7.PNG">
                    </li>
                    <li>
                        <img src="/images/image8.PNG">
                    </li>
                </ul>
            </div>
        </div>
        </section>
        <section class="function_slide">
            <div class="function_int">
                <h2>Koinonia 서비스</h2>
                <div class="service_slide">
                    <div class="service1 service_part">
                        <div class="service">
                            <img src="/images/image2.png" >
                        </div>
                        <div class="service_img">
                            <h3>여행자들의 기념품</h3>
                            <p>해외 여행을 다녀온 여행자들의 기념품들을 구경하고 거래해보자! </p>
                        </div>
                    </div>
                    <div class="service2 service_part">
                        <div>
                            <img src="/images/image3.png" >
                        </div>
                        <div class="service_img">
                            <h3>원하는 기념품 요청</h3>
                            <p>해외의 원하는 기념품이 있으면 여행자들에게 요청해보자!</p>
                        </div>
                    </div>
                    <div class="service3 service_part">
                        <div>
                            <img src="/images/image4.png" >
                        </div>
                        <div class="service_img">
                            <h3>나라별 유명한 기념품</h3>
                            <p>각나라마다 기념품들은 어떤것이 있을까?</p>
                        </div>
                    </div>
                    <div class="service4 service_part">
                        <div>
                            <img src="/images/image6.png" >
                        </div>
                        <div class="service_img">
                            <h3>여행자 다이어리</h3>
                            <p>수많은 여행자들의 여행 스토리를 들어보자!</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <div class="goods_int">
           <h2>여행자 기념품</h2>
        </div>



        <section class="goods_slide2">

            <div class="goods_total">

            <div class="goods1">
                <img src="/images/goods11.PNG" >
            </div>



            <div class="goods_2">
               <div class="goods2">
                   <img src="/images/goods10.PNG" >
               </div>
               <div class="goods3">
                   <img src="/images/goods9.PNG" >
               </div>
            </div>


            <div class="goods_4">
                <div class="goods4">
                    <img src="/images/goods9.PNG" >
                </div>
                <div class="goods5">
                    <img src="/images/goods10.PNG" >
                </div>
             </div>



          </div>
        </section>



        <!--    판매 상품 section start   -->
        <section class="goods_slide">
            <!--     sample start      -->
            <div>
                <a th:href="@{/product/detail}">
                    <div>
                        <img src="/images/goods1.PNG">
                        <div class="goods_name">
                            <p>상품 이름</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--     sample end      -->

            <div>
                <a href="">
                <div>
                <img src="/images/goods2.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods3.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods1.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods2.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods3.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods1.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods2.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods3.PNG">
                <div class="goods_name">
                    <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                <div>
                <img src="/images/goods1.PNG">
                <div class="goods_name">
                  <p>상품 이름</p>
                </div>
                </div>
                </a>
            </div>
        </section>
        <!--    판매 상품 section end   -->

        <!--    다이어리 section start   -->
        <div class="story_st">
            <h2>여행 다이어리</h2>
            <div class="diary_btn">
                <a th:href="@{/board/list}">다이어리 더보기</a>
            </div>
        </div>
        <section class="story_slide">
            <!--       sample start         -->
            <div class="story1">
                <a th:href="@{/board/detail}">
                  <img src="/images/diary1.PNG">
                </a>
            </div>
            <!--       sample end         -->

              <div class="story2">
                <img src="/images/diary2.PNG">
              </div>

              <div class="story3">
                <img src="/images/diary3.PNG">
              </div>
        </section>
        <!--    다이어리 section start   -->
    </main>
    <!--  footer start  -->
    <footer>
        <div class="footer_container">
        <div class="footer_wrap">
            <div class="footer_copyright">
                <p>© 2022 Company, Inc. All rights reserved.</p>
            </div>
            <div class="footer_use">
                <ul class="">
                <li class=""><a class=""></a>개인정보처리방침</li>
                <li class=""><a href=""></a>쿠키 정책</li>
                <li class=""><a href=""></a>쿠키 설정</li>
                <li class=""><a href=""></a>웹사이트 이용약관</li>
                <li class=""><a href=""></a>Responsible disclosure</li>
                </ul>
            </div>
        </div>
        <div class="team">
            <p > captin corin </p>
            <p> 고혁배 김지나 나기업 김정관 안요셉 이진성 강승훈</p>
        </div>
        <div class="footer_icons">
            <ul>
                <li>
                    <a href="">
                        <img src="/images/5279111_network_fb_social media_facebook_facebook logo_icon.png" >
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/1161953_instagram_icon.png" >
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/211929_social_youtube_icon.png" >
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/8679415_kakao_talk_fill_icon.png" >
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </footer>
    <!--  footer end  -->
</body>
<script>
    $(function (){
        $('.service_slide').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })

    $(function (){
        $('.goods_slide').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })

    $(function (){
        $('.story_slide').slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })
</script>
<!-- header,footer -->
<script src="/assets/js/header.js"></script>
</html>