<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <title>시스템 점검 페이지 | 올크레딧</title>

    <link rel="stylesheet" type="text/css" href="http://www.allcredit.co.kr/parking/default.css" />
    <link rel="stylesheet" type="text/css" href="http://www.allcredit.co.kr/parking/layout.css" />
    <link rel="stylesheet" type="text/css" href="http://www.allcredit.co.kr/parking/common.css" />

    <style type="text/css">
        .dialog-error .content {width:424px;margin:0;padding:50px 82px 60px;border:none;border-top:4px solid #000;border-bottom:2px solid #000;}
        .dialog-error .content h2 {border:none;padding-bottom:28px;}
        .dialog-error .content .date {background:url("./parking/bul_arrow.gif") no-repeat 1px 4px;padding-left:10px;color: #d15b01;}
        .dialog-error .content .date strong {color:#333;}
        .dialog-error .content .list-01 {margin-top:20px;}
    </style>
</head>
<body>
<div class="dialog-error">
    <div class="content">
        <h2><img src="http://www.allcredit.co.kr/parking/tit_error_07.gif" alt="현재 시스템 점검 중입니다." /></h2>
        <div class="list-01">
<!--            사이트 점검으로 인해 서비스가 일시 중단됩니다. <br />-->
<!--            이용에 불편을 드린점 진심으로 사과드리며 더 나은 서비스를 제공하기 위해<br />-->
<!--            더욱 노력하겠습니다. 감사합니다. <br /><br />-->
<!--            ※ 서비스 점검 시간은 작업 상황에 따라 변동될 수 있습니다.-->
        </div>
    </div>
</div>
</body>
</html>