<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이어리 상세보기</title>

    <link type="text/css" rel="stylesheet" href="/assets/css/common_diary.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/list.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/t1.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/diary_detail.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/comment.css" />
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />

</head>
<body>
<header>
    <div class="header_container">
        <div class="menubar">
            <a>
                <img src="/images/134216_menu_lines_hamburger_icon.png">
            </a>
        </div>
        <div class="logo">
            <img src="/images/logo.png">
        </div>
        <div class="selectbar">
            <form action="">
                <img src="/images/4801315_glass_magnifier_magnifying_search_searching_icon.png" >
                <input type="text" placeholder="검색어 입력">
            </form>
        </div>
        <div class="mypage">
            <ul>
                <li class="login">
                    <a>
                        <img src="/images/4092564_profile_about_mobile ui_user_icon.png">
                        <span>Hej! 로그인 또는 가입하기</span>
                    </a>
                </li>
                <li class="message"><a><img src="/images/622401_mail_packet_email_envelope_letter_icon.png"></a></li>
                <li class="heart"><a><img src="/images/216236_heart_icon.png"></a></li>
                <li class="cart"><a><img src="/images/6351908_bag_basket_cart_ecommerce_shop_icon.png"></a></li>
            </ul>
        </div>
    </div>
    <div class="menubtn">
        <a href="">여행자 기념품 </a>
        <a href="">여행 다이어리</a>
        <a href="">기념품 요청</a>
    </div>
</header>
<div id="st-body" class="homepage fullsize">




    <div id="wrapper">
        
    <div id="main" role="main">
        <div id="main-content-header">
            <style>
                
#wrapper { 
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 400px;
background-image: url('http://linkandleave.com/files/2017/02/23/6e006508201242416d4d62cc6e260ac3143147.jpg');
}
#main-content-header {min-height: 210px}
</style>


<div class="container">
<div class="row">
<div class="col-sm-12">
    <h1 class="title st-font2">
        여행 다이어리						<small class="st-font1">전 세계를 여행하는 여행자들의 살아 숨쉬는 이야기들!</small>
                    </h1>
</div>
</div>
</div>

        </div>
        <div id="main-content" class="content-wrapper">
            


<div class="search-box">
<div class="container">
    
</div>



</div>




            <div class="container">
                <style>
</style>


<div id="st-view">
<div class="viewbox">
<div class="header ">
    <div class="subject">
                        <div class="st-table" style="border-bottom: #aaa dotted 1px;">
            <div class="h4 st-font1 bold">늘 꿈꾸던 남프랑스</div>
        </div>
                    </div>
    <div class="info">
        <div class="common pull-left">
            <i class="glyphicon glyphicon-tint" title="비회원"></i> 안xx님 (비회원) <span class="split">|</span> 
            <i class="glyphicon glyphicon-ok"></i> 조회 000 <span class="split">|</span> 
                                                    <i class="glyphicon glyphicon-time"></i> 20xx.0x.xx 17:28				</div>
        
			
        <div class="clearfix"></div>				
    </div>
</div>

<div id="vContent" class="content">
            <a>
                <img src="/images/menton-g64ddb272f_640.jpg">
            </a>

    <p>3년 전 북유럽을 통해 다녀온 적이 있었다.</p><p><br></p><p>그때 좋은 추억 정말 즐거웠는데.. 이번엔 드디어 꿈에 그리던 남프랑스로 6박8일 여행이 시작되었다.</p><p>결론부터 말하자면 너너너 너~~~무 좋았다.</p><p><br></p><p>출발 전, 꼼꼼한 준비로 당황하지 않고.</p><p>프랑스에 15년 살아온 지인의 풍부한 경험과 지식</p><p>꼼꼼하면서도 섬세한 일정과 배려로 아쉽지 않은 여행이 되었다.</p>		
    <br><br>
                 
                
    
                
    </div>
            </div>
</div>

<div class="action clearfix">	
<a href="/?r=home&amp;c=help/review" class="btn btn-default btn-sm">목록으로</a>			

<div class="right_1">
                <a href="/?r=home&amp;c=help/review&amp;mod=write&amp;uid=1258" class="btn btn-default btn-sm">수정</a>
    <a href="/?r=home&amp;c=help/review&amp;a=delete&amp;uid=1258" target="_action_frame_stbbs" class="btn btn-default btn-sm" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a>
                
            
                                    </div>
</div>


<section id="st-body" style="background-colorl:#fff;">
<div id="st-clist">
<div class="list">
            
    
    
                    <div class="item media" id="cmt-999999792">
        <div class="media-body">
            <div class="header full-width">
                <div class="info">
                                            <i class="glyphicon glyphicon-tint" title="비회원"></i><span class="name"> 라라라님 (비회원)</span>
                    <span class="rdate">(2000.00 00:00)</span>&nbsp;
                                        </div>
                <div class="btns">
                                            
                    <a href="javascript:void(0)" onclick="javascript:toggleComment(999999792)"><i class="glyphicon glyphicon-pencil"></i> 편집</a>&nbsp;
                    
                                            
                </div>
            </div>

            <div id="cview-999999792" class="content">
                                  라라라라라라라라ㅏ라라라라ㅏ라라라라라라ㅏ라라라라라ㅏ라라라라ㅏ라랄라라라라f
            </div>
            
            <div id="cwrite-999999792" class="cwrite inner">
                <form name="cwriteForm" method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return cwriteCheck(this);">
                <input type="hidden" name="r" value="home">
                <input type="hidden" name="a" value="write_comment">
                <input type="hidden" name="c" value="">
                <input type="hidden" name="cuid" value="15">
                <input type="hidden" name="m" value="stbbs">
                <input type="hidden" name="bid" value="review">
                <input type="hidden" name="parent" value="bbs1258">							<input type="hidden" name="parentLayout" value="st-jedlnl">
                <input type="hidden" name="uid" value="999999792">
                <input type="hidden" name="p" value="1">
                
                <div class="top">
                    댓글 수정<span></span>
                </div>
                
                <div class="middle">
                                            <div class="row nomember">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i><span class="hidden-xs"> 작성자명</span></span>
                                <input type="text" name="name" size="20" class="form-control input-sm" value="관리자" placeholder="작성자명" disabled="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i><span class="hidden-xs"> 비밀번호</span></span>
                                <input type="password" name="pw" size="20" class="form-control input-sm" placeholder="비밀번호">
                            </div>
                        </div>
                    </div>
                            

                </div>

                <div class="bottom">
                    <div class="left">
                                                                                <label><input type="checkbox" name="hidden" value="1"> 비밀글</label>
                                                </div>
                    <div class="right st-font1">
                        <button type="button" class="btn btn-danger btn-sm" onclick="return cmentDel('', this.form);"><i class="glyphicon glyphicon-remove"></i>&nbsp;댓글 삭제</button>&nbsp;
                        <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;댓글 수정</button>
                    </div>
                </div>
                </form>
            </div>					
                        
                                            
            <div id="owrite-999999792" class="item media owrite">
                <form method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return oneCheck(this, 999999792);">
                    <input type="hidden" name="r" value="home">
                    <input type="hidden" name="a" value="write_oneline">
                    <input type="hidden" name="c" value="">
                    <input type="hidden" name="cuid" value="15">
                    <input type="hidden" name="m" value="stbbs">
                    <input type="hidden" name="bid" value="review">
                    <input type="hidden" name="post" value="1258">										<input type="hidden" name="parent" value="999999792">								<input type="hidden" name="parentLayout" value="st-jedlnl">
                    <input type="hidden" name="p" value="1">
                    
                    <textarea name="content" class="form-control input-sm" style="height:50px;"></textarea>
                    
                    <div class="bottom">
                        <div class="left">
                                                        </div>
                        <div class="right">
                            <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;한줄의견 등록</button>
                        </div>
                    </div>						
                </form>
            </div>

                                        </div>		
    </div>
                    <div class="item media" id="cmt-999999791">
        <div class="media-body">
            <div class="header full-width">
                <div class="info">
                                            <i class="glyphicon glyphicon-tint" title="비회원"></i><span class="name"> xxx님 (비회원)</span>
                    <span class="rdate">(2000.00.00 00:00)</span>&nbsp;
                                        </div>
                <div class="btns">
                                            
                                            <a href="javascript:void(0)" onclick="javascript:toggleComment(999999791)"><i class="glyphicon glyphicon-pencil"></i> 편집</a>&nbsp;
                    
                                            
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="cview-999999791" class="content">
                                    라라라라라라라라라							
            </div>
            
            <div id="cwrite-999999791" class="cwrite inner">
                <form name="cwriteForm" method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return cwriteCheck(this);">
                <input type="hidden" name="r" value="home">
                <input type="hidden" name="a" value="write_comment">
                <input type="hidden" name="c" value="">
                <input type="hidden" name="cuid" value="15">
                <input type="hidden" name="m" value="stbbs">
                <input type="hidden" name="bid" value="review">
                <input type="hidden" name="parent" value="bbs1258">							<input type="hidden" name="parentLayout" value="st-jedlnl">
                <input type="hidden" name="uid" value="999999791">
                <input type="hidden" name="p" value="1">
                
                <div class="top">
                    댓글 수정<span></span>
                </div>
                
                <div class="middle">
                                            <div class="row nomember">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i><span class="hidden-xs"> 작성자명</span></span>
                                <input type="text" name="name" size="20" class="form-control input-sm" value="코린정" placeholder="작성자명" disabled="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i><span class="hidden-xs"> 비밀번호</span></span>
                                <input type="password" name="pw" size="20" class="form-control input-sm" placeholder="비밀번호">
                            </div>
                        </div>
                    </div>
                            
                    <textarea name="content" class="form-control input-sm" style="height:100px;">
                        라라라라라
                    </textarea>
                </div>

                <div class="bottom">
                    <div class="left">
                                                                                <label><input type="checkbox" name="hidden" value="1"> 비밀글</label>
                                                </div>
                    <div class="right st-font1">
                        <button type="button" class="btn btn-danger btn-sm" onclick="return cmentDel('', this.form);"><i class="glyphicon glyphicon-remove"></i>&nbsp;댓글 삭제</button>&nbsp;
                        <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;댓글 수정</button>
                    </div>
                </div>
                </form>
            </div>					
                        
                                            
            <div id="owrite-999999791" class="item media owrite">
                <form method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return oneCheck(this, 999999791);">
                    <input type="hidden" name="r" value="home">
                    <input type="hidden" name="a" value="write_oneline">
                    <input type="hidden" name="c" value="">
                    <input type="hidden" name="cuid" value="15">
                    <input type="hidden" name="m" value="stbbs">
                    <input type="hidden" name="bid" value="review">
                    <input type="hidden" name="post" value="1258">										<input type="hidden" name="parent" value="999999791">								<input type="hidden" name="parentLayout" value="st-jedlnl">
                    <input type="hidden" name="p" value="1">
                    
                    <textarea name="content" class="form-control input-sm" style="height:50px;"></textarea>
                    
                    <div class="bottom">
                        <div class="left">
                                                        </div>
                        <div class="right">
                            <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;한줄의견 등록</button>
                        </div>
                    </div>						
                </form>
            </div>

                                        </div>		
    </div>
                    <div class="item media" id="cmt-999999790">
        <div class="media-body">
            <div class="header full-width">
                <div class="info">
                    <i class="glyphicon glyphicon-tint" title="비회원"></i><span class="name"> xxx님 (비회원)</span>
                    <span class="rdate">(2000.00.00 00:00)</span>&nbsp;
                                        </div>
                <div class="btns">
                                            
                            <a href="javascript:void(0)" onclick="javascript:toggleComment(999999790)"><i class="glyphicon glyphicon-pencil"></i> 편집</a>&nbsp;
                    
                                            
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="cview-999999790" class="content">
                                    라일락								
            </div>
            
            <div id="cwrite-999999790" class="cwrite inner">
                <form name="cwriteForm" method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return cwriteCheck(this);">
                <input type="hidden" name="r" value="home">
                <input type="hidden" name="a" value="write_comment">
                <input type="hidden" name="c" value="">
                <input type="hidden" name="cuid" value="15">
                <input type="hidden" name="m" value="stbbs">
                <input type="hidden" name="bid" value="review">
                <input type="hidden" name="parent" value="bbs1258">							<input type="hidden" name="parentLayout" value="st-jedlnl">
                <input type="hidden" name="uid" value="999999790">
                <input type="hidden" name="p" value="1">
                
                <div class="top">
                    댓글 수정<span></span>
                </div>
                
                <div class="middle">
                                            <div class="row nomember">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i><span class="hidden-xs"> 작성자명</span></span>
                                <input type="text" name="name" size="20" class="form-control input-sm" value="동행객" placeholder="작성자명" disabled="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i><span class="hidden-xs"> 비밀번호</span></span>
                                <input type="password" name="pw" size="20" class="form-control input-sm" placeholder="비밀번호">
                            </div>
                        </div>
                    </div>
                            
                    <textarea name="content" class="form-control input-sm" style="height:100px;"> 라일락 </textarea>
                </div>

                <div class="bottom">
                    <div class="left">
                                                                                <label><input type="checkbox" name="hidden" value="1"> 비밀글</label>
                                                </div>
                    <div class="right st-font1">
                        <button type="button" class="btn btn-danger btn-sm" onclick="return cmentDel('', this.form);"><i class="glyphicon glyphicon-remove"></i>&nbsp;댓글 삭제</button>&nbsp;
                        <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;댓글 수정</button>
                    </div>
                </div>
                </form>
            </div>					
                        
                                            
            <div id="owrite-999999790" class="item media owrite">
                <form method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return oneCheck(this, 999999790);">
                    <input type="hidden" name="r" value="home">
                    <input type="hidden" name="a" value="write_oneline">
                    <input type="hidden" name="c" value="">
                    <input type="hidden" name="cuid" value="15">
                    <input type="hidden" name="m" value="stbbs">
                    <input type="hidden" name="bid" value="review">
                    <input type="hidden" name="post" value="1258">										<input type="hidden" name="parent" value="999999790">								<input type="hidden" name="parentLayout" value="st-jedlnl">
                    <input type="hidden" name="p" value="1">
                    
                    <textarea name="content" class="form-control input-sm" style="height:50px;"></textarea>
                    
                    <div class="bottom">
                        <div class="left">
                                                        </div>
                        <div class="right">
                            <button type="submit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;한줄의견 등록</button>
                        </div>
                    </div>						
                </form>
            </div>

                                        </div>		
    </div>
                </div>
</div>

<div class="pagebox01"><span class="selected" title="1 페이지">1</span></div>


<br><br>
<div id="st-cwrite" class="cwrite" style="display:block;">
    <form name="cwriteForm" method="post" action="/" target="_action_frame_stbbs_cmt" onsubmit="return cwriteCheck(this);">
<input type="hidden" name="r" value="home">
<input type="hidden" name="a" value="write_comment">
<input type="hidden" name="c" value="">
<input type="hidden" name="cuid" value="15">
<input type="hidden" name="m" value="stbbs">
<input type="hidden" name="bid" value="review">
<input type="hidden" name="parent" value="bbs1258">			<input type="hidden" name="parentLayout" value="st-jedlnl">
<input type="hidden" name="p" value="-1">

<div class="top">
    댓글 쓰기<span></span>
</div>

<div class="middle">
            <div class="row nomember">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i><span class="hidden-xs"> 작성자명</span></span>
                <input type="text" name="name" size="20" class="form-control input-sm" placeholder="작성자명">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i><span class="hidden-xs"> 비밀번호</span></span>
                <input type="password" name="pw" size="20" class="form-control input-sm" placeholder="비밀번호">
            </div>
        </div>
    </div>
            
    <textarea name="content" class="form-control input-sm" style="height:100px;"> </textarea>
</div>

<div class="bottom">
    <div class="left">
                                <label><input type="checkbox" name="hidden" value="1"> 비밀글</label>
                </div>
    <div class="right">
        <button type="submit" class="btn btn-info btn-sm"></i>&nbsp;댓글 등록</button>
    </div>
</div>
</form>
</div>	

<script type="text/javascript">
  
    </script>

</section>

</div>
        </div>
        <footer>
                <div class="footer_container">
                    <div class="footer_wrap">
                        <div class="footer_copyright">
                            <p>© 2022 Company, Inc. All rights reserved.</p>
                        </div>

                        <div class="footer_use">
                            <ul class="">
                                <li class=""><a class=""></a>개인정보처리방침</li>
                                <li class=""><a href=""></a>쿠키 정책</li>
                                <li class=""><a href=""></a>쿠키 설정</li>
                                <li class=""><a href=""></a>웹사이트 이용약관</li>
                                <li class=""><a href=""></a>Responsible disclosure</li>
                            </ul>
                        </div>
                    </div>
                    <div class="team">
                        <p > captin corin </p>
                        <p> 고혁배 김지나 나기업 김정관 안요셉 이진성 강승훈</p>
                    </div>
                    <div class="footer_icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="/images/5279111_network_fb_social media_facebook_facebook logo_icon.png" >
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/images/1161953_instagram_icon.png" >
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/images/211929_social_youtube_icon.png" >
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/images/8679415_kakao_talk_fill_icon.png" >
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>




    
    
</body>
</html>