<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <!-- css -->
    <link rel="stylesheet" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../static/assets/css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="subArea">
          <div class="goToBackArea">
            <a href="#메인페이지" class="goToBack">
              <span>메인페이지로 이동</span>
              <img src="../../static/images/gotobeforeIcon2.png" />
            </a>
          </div>
          <div class="logoArea">
            <a class="logo">
              <img src="../../static/images/logo.png" />
            </a>
          </div>
          <div class="title">
            <h1>로그인</h1>
          </div>
          <div class="guideArea"></div>
          <div class="InfoArea">
            <div class="policyArea">
              <span>KOINONIA</span>
              <a href="#쿠키정책">쿠키 정책</a>
              <a href="#개인정보처리방침">개인정보처리방침</a>
            </div>
            <div class="projectInfoArea">
              <span class="teamName">© 캡틴 코린</span>
              <span>
                고혁배, 강승훈, 김정관, 김지나, 나기업, 안요셉, 이진성
              </span>
            </div>
          </div>
        </div>
        <div class="mainArea">
          <div class="mainInner">
            <div>
              <form
                action="./login.html"
                method="post"
                id="form"
                onsubmit="return dobuleCheck();"
              >
                <div class="inputId">
                  <label for="email">이메일</label>
                  <div class="inputWrapper">
                    <input type="text" id="email" name="email" />
                  </div>
                  <p id="emailGuidMsg" class="guideMsg"></p>
                </div>
                <div class="inputPw">
                  <label for="pw">비밀번호</label>
                  <div class="inputWrapper">
                    <input type="password" id="pw" name="pw" />
                    <button type="button">
                      <img src="../../static/images/eye_see.png" alt="" />
                      <span>비밀번호 표시하기</span>
                    </button>
                  </div>
                  <p id="pwGuidMsg" class="guideMsg"></p>
                  <div class="goToFindPw">
                    <a href="./find_pw.html">비밀번호 찾기</a>
                  </div>
                </div>
                <div class="checkbox">
                  <input type="checkbox" name="check01" id="check01" />
                  <label for="check01">
                    <span>로그인 상태 유지</span>
                  </label>
                </div>
                <div class="btnArea">
                  <button type="submit" class="btnL btnStyleB">
                    가입 완료하기
                  </button>
                </div>
              </form>
              <div class="goToJoinArea">
                <div class="guideArea">
                  <p>KOINONIA 계정이 없으신가요? 지금 바로 만들어보세요:</p>
                </div>
                <div class="btnArea">
                  <button
                    type="button"
                    class="btnL btnStyleC"
                    onclick="location.href='./join.html'"
                  >
                    회원 가입하기
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../static/assets/js/login.js"></script>
</html>
