<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamproject.mapper.UserMapper">

    <select id="find" resultType="UserVO">
        SELECT * FROM TBL_USER WHERE EMAIL = #{email}
    </select>
    
    <select id="checkId" resultType="_int">
        SELECT COUNT(EMAIL) FROM TBL_USER WHERE EMAIL = #{email}
    </select>
    
    <insert id="insert">
        INSERT INTO TBL_USER
        (UNUM, EMAIL, PW, NAME , COVER)
        VALUES(SEQ_USER.NEXTVAL, #{email}, #{pw}, #{name}, #{cover})
    </insert>
    
    <select id="login" resultType="String">
     SELECT NAME, PW, COVER, EMAIL, PHONE, UNUM
     FROM TBL_USER WHERE EMAIL = #{email} AND PW = #{pw}
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET  EMAIL = #{email}, PW = #{pw},
             COVER = #{cover}, NAME = #{name}
        WHERE UNUM = #{unum}
    </update>

    <delete id="delete">
        DELETE  FROM TBL_USER WHERE PW = #{pw}
    </delete>



</mapper>